
@keyframes fade {
  from {opacity:0}
  to {opacity:1}
}
.fade{
  animation-name: fade;
  animation-duration: 1s;
}
.blue{
  background: #255d90;
  color:white !important;
}
.green{
  background: #8BC34A;
  color:white !important;
  border-radius:0px !important;
}
.orange{
  background: orange;
  color:white !important;
  border:none;
}
.orange:hover{
  background: #ff5a00;
  color:white !important;
}
.card-body{
  padding:0 !important;
}
.lesson1{
  background: orange;
  padding:5px;
  width:60%;
  border-radius:10px;
}

.lesson1 a{
  background: black;
  padding:5px;
  border-radius:10px;
  cursor: pointer;
}

.Groupclick{
  color:white;
  text-decoration: none;
  list-style-type: none;
}

.Groupclick:hover{
  color:white;
  text-decoration: none;
  list-style-type: none;
}

.flright{
  float:right;
}

.infoUsers li {
  list-style-type: none;
  cursor: pointer;
  padding-top:10px;
}

.infoUsers li:hover{
  color:black;
  width: 100%;
  background: white;
  padding-top:10px;
  text-decoration: none;
  list-style-type: none;
}

.infoUsers{
  background: orange;
  color:white;
  width: 100%;
  padding-bottom:10px;
}

.infoUsers h5{
  background: white;
  color:black;
  padding:10px;
  margin-bottom:1px;
}

.infoUsers p, span{
padding-left:10px;
}
.infoUsers span{
font-weight: bold;
}

.groupUsers{
  background: #FFD54F;
  color:white;
}
.groupUsers h5{
  background: white;
  color:black;
  padding:10px;
  margin-bottom:20px;
}

.groupUsers p, span{
padding-left:10px;
}
.groupUsers span{
font-weight: bold;
}

.LastLessonsUsers{
  background: #8BC34A;
  color:white;
}
.LastLessonsUsers h5{
  background: white;
  color:black;
  padding:10px;
  margin-bottom:0px;
}

.room ul {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin:5px 10px 10px 10px;
}

.dotRed {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin:5px 10px 10px 10px;
}
.room li{
width:33%;
padding:20px;
list-style: none;
display:flex;
}
.room li:nth-child(1){
  background: #F57F17;
}
.room li:nth-child(2){
  background: #00BCD4;
}
.room li:nth-child(3){
  background: #009688;
}

.room li h1 {
   font-size: 2em;
   color: white;
}

.LastLessonsUsers p, span{
padding-left:10px;
}
.LastLessonsUsers span{
font-weight: bold;
}

.table-responsive th:nth-last-child(1) {
  background: #ff8421;
}
.table-responsive th:nth-last-child(2) {
  background: #ff9703;
}
.table-responsive th:nth-last-child(3) {
  background: #ffa421;
}
.table-responsive th:nth-last-child(4) {
  background: #ffb34F;
}
.table-responsive th:nth-last-child(5) {
  background: #ffc047;
}
.table-responsive th:nth-last-child(6) {
  background: #ffda47;
}
.table thead th {
    vertical-align: center !important;
    border-bottom: none !important;
}
.table td, .table th {
  vertical-align: top !important;
  padding: 1.2rem !important;
}
